<html>
    <head>
        <title>Our App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <h1>Welcome to the GoodThaaang app!</h1>

        <h1>Here I can type whatever I want and it appears on the browser</h1>

          <h2>And here as well.....</h2>

            <h3>And here as well.....</h3>

              <h4>And here as well.....</h4>

                <h5>And here as well.....</h6>

                  <h7>And here as well.....</h7>



    </body>
</html>
